.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-left {
    font-size: 24px;
    width: 250px;
    font-weight: bold;
    color: #E28442;
    text-decoration: none;
}
.header-right a {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: Black;
}